<!DOCTYPE html>
<html>
    <head>
        <title>My Homepage</title>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <form action="/save" method="POST" >
            <input type="text" name="title" placeholder="recepto pavadinimas"> <br>
            <textarea name="description" id="" cols="30" rows="10" placeholder="Reikalingi indigriantai"></textarea> <br>
            <button type="submit">Kurti</button>
        </form>

    </body>
</html>